*{
     margin: 0;
     padding: 0;
}
a{
     text-decoration: none;
}
li{
     list-style: none;
}
body{
     font-family: 'Open Sans', sans-serif;
}
header{
    width: 100%;
    background: #000;
    display: flex;
}
.logoimg{
    opacity:0.8;
    filter:alpha(opacity=50);
    width: 35%;
    margin-left: 12%;
}
.logoimg:hover{
    -webkit-transition: all 1.3s linear;
    -moz-transition: all 1.3s linear;
    -ms-transition: all 1.3s linear;
    -o-transition: all 1.3s linear;
    transition: all 1.3s linear;
    opacity: 1;
    filter:alpha(opacity=100);
    width: 35%;
    cursor: pointer;
}
nav{
    margin-top: 50px;
    margin-left: 5%;
}
.topnav a{
    opacity: 0.7;
    color: #fff;
    text-align: center;
    padding: 4px 16px;
    font-size: 16px;
    font-weight: bold;
}
.topnav a:hover{
    opacity: 1;
    border-bottom: 3px solid #FF2400;
    transition: all 0.2s linear;
}
.topnav .icon{
    display: none;
}








@media screen and (max-width: 970px) {
    .topnav a{
         display: none;
    }
    .topnav a.icon{
         float: right;
         margin-top: -58px;
         display: block;
         color: #fff;
         font-size: 25px;
    }
    nav{
         width: 100%;
    }
    .topnav.responsive{
         position: relative;
         top: 50px;
         left: -200px;
    }
    header .topnav.responsive{
         height: 340px;
    }
    .topnav.responsive a.icon{
         position: absolute;
         top: -50px;
         right: -200px;
    }
    .topnav.responsive a{
         float: none;
         display: block;
         text-align: left;
    }
}

